@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple-text: #22283C;
    --purple-icon: #261D56;
    --orange: #FC8B40;
    --gray-text: 160, 168, 177;
    --main-bg: #FAFAFA;
    --scroll-bg: 212, 212, 212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: #fff;
    height: 100vh;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
    background: rgb(212, 212, 212, 0.2);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(var(--scroll-bg), 0.8);
    border-radius: 20px;
}


.wrapper {
    display: flex;
    height: 100%;
}

/* Menu */
.menu {
    height: 90%;
    margin: auto 0;
    padding: 0 20px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.menu__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__btn-open {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.menu__btn-open span{
    display: block;
    background: #C8CAD0;
    height: 4px;
    width: 30px;
    border-radius: 20px;
    margin: 5px 0;
}
.menu__btn-open span:last-child {
    width: 18px;
}
.menu__sections {
    margin: 100px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgb(0,0,0, 0.05);
    cursor: pointer;
    fill: var(--purple-icon);
}
.menu__active {
    background: var(--orange);
    fill: #fff;
}
.menu__item:hover {
    transition: 0.2s ease-in-out;
    background: var(--orange);
    fill: #fff;
}

/* User board */
.user_board {
    height: 90%;
    flex-basis: 325px;
    margin: auto 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.user__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__accaunt {
    display: flex;
    align-items: center;
}.user__photo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid var(--purple-icon);
    display: flex;
    justify-content: center;
    align-items: center;
}.user__photo img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user__name {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
    color: var(--purple-text);
}
.user__notification svg {
    cursor: pointer;
    stroke: var(--purple-icon);
    fill: #fff;
}

/* Live Game */
.live__game {
    flex-grow: 1;
    margin: 20px 0;
}
.lg__title {
    color: #22283C;
    font-size: 24px;
    font-weight: 500;
}
.lg__list {
    list-style: none;
    margin: 10px 0;
}
.lg__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.lg__item:hover {
    background: #FAFAFA;
    transition: 0.2s ease-in;
}
.lg__item__img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.lg__item__img img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lg__item__info {
    margin: 0 10px;
}
.lg__info__title {
    color: #22283C;
    font-size: 15px;
    font-weight: 500;
}
.lg__info__text {
    color: rgba( var(--gray-text), 0.8 );
    font-size: 12px;
    font-weight: 500;
}

/* ag */
.add__game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ag__img {
    width: 100%;
    height: 200px;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.ag__img img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ag__title {
    color: #22283C;
    font-size: 28px;
    font-weight: 500;
}
.ag__type {
    color: #9DA1B4;
    font-size: 18px;
    font-weight: 500;
}
.ag__rating {
    display: flex;
    align-items: center;
}
.ag__text {
    margin: 10px 0 20px 0;
    color: #9DA1B4;
    font-size: 14px;
    font-weight: 400;
}
.ag__btn {
    background: #FC8B40;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-radius: 10px;
}
.ag__btn:hover, .news__btn:hover  {
    transition: 0.3s ease-in-out;
    background: #ff7214;
}

/* Main */
main {
    height: 100%;
    background: var(--main-bg);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.main__inner {
    height: 90%;
    width: 1100px;
    margin: auto 0;
}

/* Filter */
.filter__list {
    display: flex;
    list-style: none;
}
.filter__item {
    color: rgba( var(--gray-text), 0.7 );
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.filter__item:not(:first-child) {
    margin: 0 20px;
}
.filter__item:hover {
    transition: 0.2s ease-in-out;
    color: rgba( var(--gray-text), 1 );
}

/* News */
.news {
    margin: 25px 0;
    height: 300px;
}
.news__container {
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
    background: url('../img/product/news.png') no-repeat, #000;
    background-position: center;
    background-size: 110%;
    display: flex;
    align-items: center;
}
.news__info {
    width: 95%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news__title {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}
.news__btn {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 20px 30px;
    background: #FC8B40;
    margin-top: 30px;
    border-radius: 10px;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popular */
.popular {
    margin: 30px 0;
}
.product__title {
    color: var(--purple-icon);
    font-size: 24px;
    font-weight: 600;
}
.popular__content {
    margin-top: 25px;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.popular__list {
    list-style: none;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.popular__list::-webkit-scrollbar {
    background: var(--main-bg);
    height: 10px;
}
.popular__list::-webkit-scrollbar-thumb {
    background: rgba(var( --scroll-bg), 0.2);
}
.popular__list::-webkit-scrollbar-thumb:hover {
    background: rgba(var( --scroll-bg), 1);
}
.popular__item {
    background: rgb(160, 160, 160);
    height: 250px;
    width: 200px;
    border-radius: 20px;
    flex-shrink: 0;
    cursor: pointer;
}
.popular__item a {
    text-decoration: none;
}
.popular__item:not(:first-child) {
    margin: 0 0 0 20px;
}
.popular__item:last-child .popular__info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular__item:last-child .popular__title {
    font-size: 20px;
    font-weight: 500;
}
.popular__item:last-child .more_game__icon {
    fill: #fff;
    width: 20px;
    height: 20px;
}
.popular__item__container {
    position: relative;
    height: 100%;
}
.popular__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.popular__info {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 10px;
}
.popular__title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;   
}
.popular__mark {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
}
.popular__mark span {
    color: #FC8B40;
}

/* Release */
.released__list {
    margin: 25px 0;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.released__item {
    box-shadow: 0px 2px 8px rgba(202, 205, 219, 0.42);
    border-radius: 10px;
    background: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 20px 10px 0;
}
.released__img {
    width: 80px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.released__img img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.released__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.released__title {
    font-size: 15px;
    color: #22283C;
    font-weight: 500;
}

.released__section {
    color: #9DA1B4;
    font-size: 12px;
    font-weight: 500;
}

.released__mark {
    display: flex;
    align-items: flex-end;
}

.released__mark p {
    color: #22283C;
    font-size: 12px;
    font-weight: 400;
}

.released__mark span {
    color: #FC8B40;
    font-size: 13px;
    margin: 0 5px;
}